.index_page {
  width: 100%;
}
.main_input_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  .input {
    flex-grow: 1;
    height: 100%;
    font-size: 24px;
    border-radius: 36px;
  }
}

.tools_wrapper {
  width: 100%;
  background: red;
}
